@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

#name {
    color: whitesmoke;
    font-size: 60px;
}

#line {
    color: whitesmoke;
}

#projects {
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
}

#staticBackdropLabel {
    color: black;
}