body {
    background-color: #1e2020;
}
#container {
    color: whitesmoke;
    text-align: center;
}
#icon {
    border-radius: 400px;
    width: 71px;
    height: 71px;
}
#title {
    font-size: 50px;
}
#desc {
    font-size: 20px;
}
#btn {
    width: 55px;
    height: 55px;
    border-radius: 30px;
	background: rgba(196, 196, 196, 0.05);
	border: 2px solid rgba(196, 196, 196, 0.2);
    color: rgb(255, 255, 255);
}
#btn:hover {
    transform: scale(0.90);
}